        </div>
    </div>
</main>

<!-- Modal -->
<div id="confirm-modal" class="modal fade" role="dialog"  data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body question">
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" id="closeButton">Cancel</button>
            <button type="submit" class="btn btn-success" id="okButton">Confirm</button>
        </div>
    </div>
</div>

<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/highcharts.js"></script>
<script src="{{ STATIC_URL }}js/exporting.js"></script>
<!-- <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script> -->

<script src="{{ STATIC_URL }}js/scripts.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>


<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAUGOfGa77GnAfbab7gUjuUk86YR8TkLIQ"  type="text/javascript"></script>

<script type="text/javascript">
function tank_shape_img(){
        console.log("----------");
        var shape = $("#tankshape").val();
        if(shape == '2'){
            $("#TankRectangular").css("display", "none");
            $("#TankEllipticalHorizontal").css("display", "inline");
            $("#TankVerticalRound").css("display", "none");
        }
        if(shape == '1'){
            $("#TankRectangular").css("display", "inline");
            $("#TankEllipticalHorizontal").css("display", "none");
            $("#TankVerticalRound").css("display", "none");
        }
        if(shape == '3'){
            $("#TankRectangular").css("display", "none");
            $("#TankEllipticalHorizontal").css("display", "none");
            $("#TankVerticalRound").css("display", "inline");
        }
    }
$(function () {
    setCssDegForGauge();
    function parseDjangoData(data){
        data = data.replace(/&(l|g|quo)t;/g, function(a,b){
                return {
                    l   : '<',
                    g   : '>',
                    quo : '"'
                }[b];
            });
        data = data.replace(/u'/g, '\'');
        data = data.replace(/'/g, '\"');
        return JSON.parse(data);
    }


    var markers_data = parseDjangoData("[{&quot;long&quot;: 151.524719, &quot;text&quot;: &quot;&lt;a href=/content/company/1/sites/1/&gt;&lt;strong&gt;Newcastle Site no. 0001&lt;/strong&gt;&lt;/a&gt;&lt;br&gt;&lt;p&gt;Factory 2, 106 Potassium Street PO Box 407 Narangba QLD 4504&lt;/p&gt;07 3204 9558&quot;, &quot;lat&quot;: -33.111625, &quot;status&quot;: 0}, {&quot;long&quot;: 11.745757, &quot;text&quot;: &quot;&lt;a href=/content/company/1/sites/13/&gt;&lt;strong&gt;Demo Site Site no. 0002&lt;/strong&gt;&lt;/a&gt;&lt;br&gt;&lt;p&gt;Valnaesvej 1&lt;br /&gt;DK-4700 &lt;br /&gt;Naestved&lt;br /&gt;Denmark&lt;/p&gt;&quot;, &quot;lat&quot;: 55.210803, &quot;status&quot;: 0}]");

    console.log(markers_data);

    var map = new google.maps.Map(document.getElementById('home-map'), {
      zoom: 9,
      
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    var bounds = new google.maps.LatLngBounds();
    var infowindow = new google.maps.InfoWindow();
    var marker, i;
    var choices = [
        '//maps.gstatic.com/mapfiles/ridefinder-images/mm_20_gray.png',
        '//maps.gstatic.com/mapfiles/ridefinder-images/mm_20_red.png',
        'http://maps.gstatic.com/mapfiles/ridefinder-images/mm_20_green.png',
        '//maps.gstatic.com/mapfiles/ridefinder-images/mm_20_blue.png'
    ];

    for (i = 0; i < markers_data.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(markers_data[i].lat, markers_data[i].long),
        icon: choices[markers_data[i].status],
        map: map
      });

      
      bounds.extend(marker.position);
      

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(markers_data[i].text);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
    
    map.fitBounds(bounds);
    
    /*
        SET UP CHARTS
    */
    var connection_options = {
        title: {
            text: 'Connectivity',
            fontWeight: 'bold',
            align: 'left',
            style: { "color": "#FFFFFF", "fontSize": "10px", 'fontWeight': 'bold'},
        },
        subtitle: {
            style: { "color": "#FFFFFF", "fontSize": "8px" },
            text: 'Daily Avg. hrs.',
            align: 'left',
            x: 10
        },
        chart: {
            borderRadius: 5,
            backgroundColor: "#399CFB"
        },
        xAxis: {
            labels: {
                enabled: false
            },
            lineColor: 'transparent',
            tickColor: '#fff'
        },
        yAxis: {
            gridLineColor: '#ffffff',
            gridLineWidth: 1,
            title: {
                text: 'Hours',
                style: {color: '#fff'}
            },
            labels: {
                style: {color: '#fff'}
            }
        },
        tooltip: {
            valueSuffix: 'hrs.'
        },
        legend: {
            enabled: false
        },
        series: [{
            name: 'Device online time',
            color: '#0C4F90',
            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
        }]
    };

    var volume_processed_options = {
        title: {
            text: 'Volume Processed per Site',
            fontWeight: 'bold',
            align: 'left',
            style: { "color": "#FFFFFF", "fontSize": "10px", 'fontWeight': 'bold'},
        },
        chart: {
            type: "column",
            borderRadius: 5,
            backgroundColor: "#399CFB"
        },
        xAxis: {
            min: 0,
            labels: {
                style: {
                    color: 'white',
                    display: 'none'
                }
            },
            title: {
                text: 'Sites',
                style: {
                    color: 'white'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Volume (litres)',
                style: {
                    color: 'white'
                }
            },
            labels: {
                style: {
                    color: 'white'
                }
            }
        },
        tooltip: {
            valueSuffix: 'ltrs.'
        },
        legend: {
            enabled: false
        },
        series: [{
            name: 'Volume Processed',
            color: '#0C4F90',
        }]
    };

    

    // Capture change on Connection datepickers and update data
    function changedConnectionDatepicker(){
        var start_date = new Date($('#connection_start_date').val());
        var end_date = new Date($('#connection_end_date').val());

        start_date = start_date.getFullYear()+ '-' + start_date.getMonth() + '-' + start_date.getDate();
        end_date = end_date.getFullYear()+ '-' + end_date.getMonth() + '-' + end_date.getDate();
        updateConnectionData(start_date, end_date);
    }

    function updateConnectionData(start_date, end_date){

        var company_id = parseDjangoData("1");
        $.when(getConnections(company_id, start_date, end_date)).then(function(result){

            result = JSON.parse(result)
            if (result.error){
                console.log(result.error_text);
            }
            var categories = result.data.categories;
            var series = result.data.series;
            connection_options.xAxis.categories = categories;
            connection_options.series[0].data = series;
            Highcharts.chart('connection-chart', connection_options);

        });
    }

    // Capture change on Volume datepickers and update data
    function changedVolumeDatepicker(){
        var start_date = new Date($('#volume_start_date').val());
        var end_date = new Date($('#volume_end_date').val());

        start_date = start_date.getFullYear()+ '-' + start_date.getMonth() + '-' + start_date.getDate();
        end_date = end_date.getFullYear()+ '-' + end_date.getMonth() + '-' + end_date.getDate();
        updateVolumeData(start_date, end_date);
    }

    function updateVolumeData(start_date, end_date){
        var company_id = parseDjangoData("1");
        $.when(getVolumeProcessedForCompany(company_id, start_date, end_date)).then(function(result){
            result = JSON.parse(result);
            var data = result.data;
            var categories = result.data.categories;
            var series = result.data.series;
            volume_processed_options.xAxis.categories = categories;
            volume_processed_options.series[0].data = series;
            Highcharts.chart('volume-chart', volume_processed_options);
        });
    }
    // Initialize Volume and Connections charts with default date-range
    updateVolumeData();
    updateConnectionData();

    // Initialize default dates and datepickers
    var default_start_date = new Date();
    var default_end_date = new Date();
    default_start_date.setDate(default_start_date.getDate() - 30);

    var volume_start_datepicker = $('#volume_start_date').datepicker({
        autoclose: true
    }).on('changeDate', function(ev){
        changedVolumeDatepicker()
        $('#volume_start_date').datepicker('hide');
    });

    var volume_end_datepicker = $('#volume_end_date').datepicker({
        autoclose: true
    }).on('changeDate', function(ev){
        changedVolumeDatepicker()
        $('#volume_end_date').datepicker('hide');
    });

    $('#volume_start_date_btn').on('click', function(){
        $('#volume_start_date').datepicker('show');
    });

    $('#volume_end_date_btn').on('click', function(){
        $('#volume_end_date').datepicker('show');

    })

    var connection_start_datepicker = $('#connection_start_date').datepicker({
        autoclose: true
    }).on('changeDate', function(ev){
        changedConnectionDatepicker();
        $('#connection_start_date').datepicker('hide');
    });

    var connection_end_datepicker = $('#connection_end_date').datepicker({
        autoclose: true,
        classes: 'asdasd'
    }).on('changeDate', function(ev){
        changedConnectionDatepicker();
        $('#connection_end_date').datepicker('hide');
    });

    $('#connection_start_date_btn').on('click', function(){
        $('#connection_start_date').datepicker('show');
    });

    $('#connection_end_date_btn').on('click', function(){
            $('#connection_end_date').datepicker('show');
    })

    volume_start_datepicker.datepicker("setValue", default_start_date);
    volume_end_datepicker.datepicker("setValue", default_end_date);
    connection_start_datepicker.datepicker("setValue", default_start_date);
    connection_end_datepicker.datepicker("setValue", default_end_date);
    $(function () {
      $('[data-toggle="popover"]').popover()
    })
});
</script>


</body>
</html>