{% load i18n %}
<!doctype html>
<html lang="en">
<head>{% load static %}
    <meta charset="utf-8">
    <title>Account Maker</title>
    <meta content="" name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="true">
    <meta content="telephone=no" name="format-detection">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ STATIC_URL }}apple-touch-icon.png">
    <link rel="icon" type="image/png" href="">
    <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
    
    <link rel="mask-icon" href="{{ STATIC_URL }}img/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/libs.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/datepicker.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/distributor.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">