
<body>

<header id="header" class="header bg-blue">
    <div class="container" id="top">
        <div class="row">
            <div class="col-xs-12">
                <div class="header__logo pull-left">

                    <a href="/" class="header__logo-link">
                            <h1>Account Maker</h1>
                        
                    </a>
                </div>
                
                <div class="pull-right">
                    
                    <a href="/dashboard/logout/" class="header__sign-out btn btn-primary">
                        Sign Out
                        <i class="glyphicon glyphicon-log-out"></i>
                    </a>

                </div>
                
            </div>
        </div>
    </div>
</header>
<main class="content" aria-labelledby="mainContentLabel">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">

                <div class="main-container-sidebar">
                    <div class="avatar">
                        <img src="{{ STATIC_URL }}img/avatar__image.png" alt="" class="avatar__image visible-lg-block">
                        
                            <div class="avatar__name"><br class="visible-lg-block"><h2>{{username}}</h2></div>
                    </div>

                    
                    <ul class="nav__list">
                        
                            <li class="nav__item active">
                                <a href="/api/admin/siteprofile-page/" class="nav__link">
                                    <i class="glyphicon glyphicon-home"></i>
                                    SiteProfile
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="/dashboard/biller/" class="nav__link">
                                    <i class="glyphicon glyphicon-user"></i>
                                    Billers
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="/dashboard/user/" class="nav__link">
                                    <i class="glyphicon glyphicon-user"></i>
                                    Users
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="/dashboard/payment/" class="nav__link">
                                    <i class="glyphicon glyphicon-credit-card"></i>
                                    Payment
                                </a>
                            </li>                    
                    </ul>
                    
                </div>

            </div>
