{% extends "adminBase.html" %}
{% load i18n %}

{% block head %}

{% endblock %}
{% block body_main %}
    	<div class="col-lg-10">
            <div id="content">
                <center>
                    <h1> Payment Details </h1>
                    {% csrf_token %}
                    <div>
                        <div class="table-container">
                            <table class='table table-bordered table-condensed table-striped table-vertical-center'>
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Site</th>
                                        <th>Username</th>
                                        <th>Payment Amount</th>
                                        <th>Last Pay Date</th>
                                        <th>Status</th>
                                        <th>Screenshot</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for payment_info in bill_payment_info %}
                                    <tr>
                                        <td>{{payment_info.id}}</td>
                                        <td>{{payment_info.site_name}}</td>
                                        <td>{{payment_info.username}}</td>
                                        <td>{{payment_info.payment_amount}}</td>
                                        <td>{{payment_info.last_pay_date}}</td>
                                        <td>{{payment_info.status}}</td>
                                        <td><img id="screenshot" src="" alt="screenshot" style="width:100%;max-width:300px"></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </table>
                    </div>
                </center>

            </div>
        </div>
{% endblock %}

{% block body_footer %}{% endblock %}  