<!DOCTYPE html>
<html lang="en">
<head>
	<title>Account Maker</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{ STATIC_URL }}images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/util.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('{{ STATIC_URL }}images/bg-01.jpg');">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					Dashboard Login
				</span>
				<form class="login100-form validate-form p-b-33 p-t-5" action="" method="post">
                        {% csrf_token %}
					<div class="wrap-input100 input-fields" data-validate = "Enter username">
						<input class="input100" type="text" name="email" placeholder="User name">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100 validate-input input-fields" data-validate="Enter password">
						<input class="input100" type="password" name="password" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
                    </div>
                    <p style="color:red;font-size:15px;margin-left:20px">{{ message }} </p>

					<div class="container-login100-form-btn m-t-32 btn-area">
						<button class="login100-form-btn" type="submit">login</button>
                    </div>
                    

				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{{ STATIC_URL }}vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="{{ STATIC_URL }}vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="{{ STATIC_URL }}vendor/bootstrap/js/popper.js"></script>
	<script src="{{ STATIC_URL }}vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="{{ STATIC_URL }}vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="{{ STATIC_URL }}vendor/daterangepicker/moment.min.js"></script>
	<script src="{{ STATIC_URL }}vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="{{ STATIC_URL }}vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="{{ STATIC_URL }}js/main.js"></script>

</body>
</html>