{% extends "adminBase.html" %}
{% load i18n %}

{% block head %}

{% endblock %}
{% block body_main %}
    	<div class="col-lg-10">
            <div id="content">
                <center>
                    <h1> User Details </h1>
                    {% csrf_token %}
                    <div>
                        <div class="table-container">
                            <table class='table table-bordered table-condensed table-striped table-vertical-center'>
                                <thead>
                                    <tr>
                                        <th>User ID</th>
                                        <th>Venmo Tag</th>
                                        <th>Email</th>
                                        <th>Name</th>
                                        <th>Total Amount</th>
                                        <th>Request Amount</th>
                                        <th>Pay</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </table>
                    </div>
                </center>

            </div>
        </div>
{% endblock %}

{% block body_footer %}{% endblock %}  